.introText {
  font-size: 16px;
}
/*.Page {
  height: 100vh;
  width: 100vw;
}*/

#navbar{
  margin-top: 15px;
  margin-bottom: 55px;
}

.home {
  margin-left: 3%;
  margin-right: 3%;
}

#words{
  padding: 8px;
}

#heading2_punjabi,#heading2_english {
  margin-left: 33.33%;
}

#heading3_punjabi, #heading3_english {
  margin-left: 66.67%;
}

.defaultColor {
  color: #c0392b;
}

.margins {
  margin: 1.5%;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}

body {
  background-image : linear-gradient(to bottom right , #ffd54f, #ff9800);
}

.tabs .tab {
  text-transform: none !important;
}

ol{
   list-style-position: outside;
  color: #ff3d00;
}

h1,h2,h3,h4,h5,h6,p {
  color: #ff3d00;
}
ol li{
  position: relative;
}
ol li > *{
  padding-left: 5%;
}

.tabs .tab a {
    background-color: #E67E22;
    color: #fff;
}
.tabs .tab a:hover {
    color: #d9d9d9 !important;
}
.collapsible-header{
    backface-color: #E67E22 !important;
    color: #2c3e50 !important;
}
.border-bottom{
    border-bottom: 1px solid #20262c;
}


.modal_data_size{
    font-size: 20px;
}
hr{
  border-color: #ff3d00;
}
#homePage{
  padding-top: 3%;
  height: 100vh;
}

.pu_intro{
  font-size: 15px;
}
.border-box{
  border: 2px solid #ff3d00;
  margin-top: 5px;
  padding: 0 20px;
}

.full-height {
    height: 100vh;
}

.width-30vw {
    widtg
}

.height-30vh {
    height: 30vh;
}
.index_size {
  font-size: 16px;
  text-align: left;
}
.symbol {
  cursor: pointer;
}
summary {
  outline: none;
}
 details summary::-webkit-details-marker { display:none; }
 .text-size {
   font-size: 20px;
 }
a.morelink {
 	text-decoration:none;
 	outline: none;
 }
.morecontent span {
 	display: none;
 }
 .size-of-text{
   font-size:26px;
 }
.size-of-heading {
  font-size: 30px;
}
