.introText {
  font-size: 20px;
}
/*.Page {
  height: 100vh;
  width: 100vw;
}*/

#navbar{
  margin-top: 15px;
  margin-bottom: 55px;
}

.home {
  margin-left: 3%;
  margin-right: 3%;
}

#words{
  padding: 8px;
}

#heading2_punjabi,#heading2_english {
  margin-left: 33.33%;
}

#heading3_punjabi, #heading3_english {
  margin-left: 66.67%;
}

.defaultColor {
  color: #c0392b;
}

.margins {
  margin: 2%;
}

.align-center {
  text-align: center;
}

body {
  background-image : linear-gradient(to bottom right , #ffd54f, #ff9800);
}

.tabs .tab {
  text-transform: none !important;
}

ol{
   list-style-position: inside;
  color: #ff3d00;
}

h1,h2,h3,h4,h5,h6 {
  color: #ff3d00;
}
ol li{
  position: relative;
}
ol li > *{
  padding-left: 5%;
}

.tabs .tab a {
    background-color: #E67E22;
    color: #fff;
}
.tabs .tab a:hover {
    color: #d9d9d9 !important;
}
.collapsible-header{
    backface-color: #E67E22 !important;
    color: #2c3e50 !important;
}
.border-bottom{
    border-bottom: 1px solid #20262c;
}


.modal_data_size{
    font-size: 20px;
}
hr{
  border-color: #ff3d00;
}
#homePage{
  padding-top: 7%;
  height: 100vh;
}

.pu_intro{
  font-size: 15px;
}
.border-box{
  border: 2px solid #ff3d00;
  margin-top: 5px;
  padding: 0 20px;
}

.full-height {
    height: 100vh;
}

.width-30vw {
    widtg
}

.height-30vh {
    height: 30vh;
}


.read-more-state {
  display: none;
}
.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25 ease;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}
.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}
.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}
.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}
